{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "react-hot-loader/babel",
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {}
      }
    ],
    "@babel/plugin-syntax-dynamic-import",
    ["minify-dead-code-elimination", { "optimizeRawSize": true }],
    "@babel/plugin-transform-runtime",
    [
      "styled-components",
      {
        "ssr": true,
        "pure": true,
        "minify": true,
        "transpileTemplateLiterals": true,
        "displayName": true
      }
    ]
  ]
}
